.site-layout-content {
  min-height: calc(84vh - 50px);
  padding: 24px;
  background: #fff;
}
.logo {
  float: left;
  width: 320px;
  height: 31px;
  margin: 16px 24px 0px 0;
  color:white;
}


.video-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.video-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}
